project:
  type: book
  resources: 
    - static/*
    - pdf/*.pdf
    - favicon.ico
  output-dir: ../_docs
  
execute:
  echo: false
  warning: false
format:
  html:
    theme:
      - cosmo
    code-copy: true
    code-link: true
    include-in-header:
      - text: <link href="https://docs.echild.ac.uk/favicon.ico?v=2" rel="icon">
          
pdf:
  include-in-header:
    - text: |
        \usepackage{svg}
        \svgsetup{inkscapeformat=eps}
  toc-depth: 1
          
pdf-engine-opts:
  - '--shell-escape'
    
bibliography: references.bib
csl: harvard-cite-them-right-11th-edition.csl
link-citations: true
nocite: |
  @*
# The 'book' key MUST appear last as subtitle 
# is added (dynamically) to the end of the file
book:
  title: "ECHILD User Guide"
  reader-mode: true
  page-footer: >
    The content of this site is licensed under the
    [Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International license](https://creativecommons.org/licenses/by-nc-sa/4.0/),
    except example source code which is provided under the
    [MIT license](https://github.com/UCL-ECHILD/docs.echild.ac.uk-website/blob/main/LICENSE.md).
  site-url: https://docs.echild.ac.uk/
  repo-url: https://github.com/UCL-ECHILD/docs.echild.ac.uk-website
  repo-subdir: web_source/
  repo-branch: main
  repo-actions: [edit, issue]
  chapters:
    - index.qmd
    - cite.qmd
    - echild-introduction.qmd
    - information-scope.qmd
    - permitted-use.qmd
    - key-features.qmd
    
    - part: "Data Sources"
      chapters:
        - nhs.qmd
        - dfe.qmd
        - data-coverage.qmd
    
    - part: "Linkage"
      chapters:
        - mother-baby.qmd
    
    - part: "Strengths & Limitations"
      chapters:
        - strengths.qmd
        - limits.qmd
    
    - part: "Data Access"
      chapters:
        - five-safes.qmd
        - ethics.qmd
        - access-conditions.qmd
        - access-process.qmd
        - accredited-researcher.qmd
        - aoc.qmd
        - no-other-linkage.qmd
    
    - part: "References"
      chapters:
        - references.qmd
    
    - part: "About"
      chapters:
        - acronyms.qmd
        - versions.qmd
        - disclaimer.qmd
        - acknowledgements.qmd
        - authors.qmd
        - contributors.qmd
        - funding.qmd
        - contact.qmd
  
  appendices:
    - appendix-linkage.qmd